.home {
    display: grid;
    grid-template-columns: 50% 50%;
    

    @media only screen and (max-width: $mobile){
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1.2fr 1fr 1.2fr 1.6fr 1.6fr;
    }

    &__box-1 {
        grid-row: 1 / 2;
        grid-column: 2 / 3;

        @media only screen and (max-width: $mobile){
            grid-row: 1 / 1;
            grid-column: 1 / 1;
        }

    }


    &__box--img {
        display: block;
        height: 100%;
        width: 100%;
        @media only screen and (max-width: $mobile) {
            display: none;
        }

        &-alt1, &-alt2 {
            display:none;
            @media only screen and (max-width: $mobile) {
                display: block;
                height: 100%;
                width: 100%;
            }
            
        }
    }

    &__box-2, &__box-4 {
        display: flex;
        flex: 1;
        background-color:  $light-grey;
    }
    
    &__box--text {
        display: flex;
        flex-direction: column;
        padding: 20% 20% 20% 18%;
        justify-content: space-between;
        @media only screen and (max-width: $mobile) {
            text-align: center;
            padding: 15% 16% 15%;
        }
        
    }

    &__box-5 {
        background-image: url('../images/desktop/image-graphic-design.jpg');
        display: flex;
        background-position-x: center;
        flex: 1;

        @media only screen and (max-width: $mobile) {
            background-image: url('../images/mobile/image-graphic-design.jpg');
            background-size: cover;
        
        }
    }

    &__box-6 {
        background-image: url('../images/desktop/image-photography.jpg');
        display: flex;
        flex: 1;
        background-position-x: center;

        @media only screen and (max-width: $mobile) {
            background-image: url('../images/mobile/image-photography.jpg');
            background-size: cover;
        }
    }

    &__box--text-alt {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 55% 23% 8%;

        @media only screen and (max-width: $mobile) {
            justify-content: flex-end;
            padding: 0 10% 10%;
        }
    }
}

.h3-text {
    @media only screen and (max-width: $mobile) {
        margin-bottom: 2.4rem;
    }
}

.learn-more, 
.learn-more:visited {
    align-self: flex-start;
    position: relative;

    @media only screen and (max-width: $mobile) {
       align-self: center;
    }

    &::after {
        @include learn-more;
        transition: all .2s;
    }

    &:hover::after {
        opacity: 1;
    }

}

.learn-more-1, .learn-more-1:visited {
    &::after {
        background-color: $yellow;
    }
}
.learn-more-2, .learn-more-2:visited {
    &::after {
        background-color: $soft-red;
    }
}

