*.sketch
*.fig
*.xd
.prettierignore

#compiled css
css/style.css
css/style.css.map
css/style.min.css.map
css/style.prefix.css


node_modules/

# ignore all logs
*.log

.DS_Store
Thumbs.db


#ignore while challenge is incomplete
README-mine.md
style-guide.md
text.txt
js-comments.txt

